pkgbase = bilibili-linux
	pkgdesc = Bilibili unofficial desktop client
	pkgver = 1.6.1
	pkgrel = 3
	url = https://github.com/msojocs/bilibili-linux
	arch = any
	license = custom
	depends = ffmpeg
	depends = electron19
	depends = libappindicator-gtk3
	source = https://github.com/msojocs/bilibili-linux/releases/download/v1.6.1-3/bilibili-v1.6.1-3-x86_64.tar.gz
	source = bilibili
	source = bilibili.svg
	source = bilibili.desktop
	sha256sums = 7617189b6433129e021b93ee29e6d3a9d1c6b382b92891a0b0738b2dfe52cc34
	sha256sums = 313b8ffcbc8a63ce6d53a427edc044bcff36464ba6cadbb29173266145bd20b5
	sha256sums = 3a7935d2d13d62fad68b4ee5aaa4832e6a202b379f2be2f80d3723f8f3993192
	sha256sums = e7e40fd93448b1c0b953deaa0829625b30e8f36f61140fa2a5e09012bc459fcb

pkgname = bilibili-linux
