pkgbase = bilibili-linux
	pkgdesc = Bilibili unofficial desktop client
	pkgver = 1.7.2
	pkgrel = 1
	url = https://github.com/msojocs/bilibili-linux
	arch = any
	license = custom
	depends = ffmpeg
	depends = electron19
	depends = libappindicator-gtk3
	source = https://github.com/msojocs/bilibili-linux/releases/download/v1.7.2-1/bilibili-v1.7.2-1-x86_64.tar.gz
	source = bilibili.svg
	source = bilibili.desktop
	sha256sums = 47addbfa12d9ad385d0ffc8a039d0fad9a817bf2f41726fd0b214db104e9a054
	sha256sums = 3a7935d2d13d62fad68b4ee5aaa4832e6a202b379f2be2f80d3723f8f3993192
	sha256sums = 193f8edb09f5fb4706a646bf80f975cbcf6cfaf59ac959be9875d8e77d4b5e45

pkgname = bilibili-linux
