[Desktop Entry]
Categories=AudioVideo;Video;Network;
Comment=Bilibili desktop client
Comment[zh_CN]=哔哩哔哩桌面版
Comment[zh_TW]=嗶哩嗶哩桌面版
Exec=env ELECTRON_FORCE_IS_PACKAGED=true electron19 /usr/lib/bilibili/app.asar %u
Icon=bilibili
StartupWMClass=bilibili
MimeType=
Name=Bilibili
Name[zh_CN]=哔哩哔哩
Name[zh_TW]=嗶哩嗶哩
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
